*{
    margin:0;
    padding: 0;
}
body{
    background:#f0f2f5;
}
ul,li{
    list-style: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both
  }
  
  .clearfix {
    *zoom: 1
  }
  body{min-height:100%;margin:0;padding:0;position:relative;}
  .text-left{
      text-align: left;
  }